<div class="card" style="width: 18rem;">
    <img src="https://images.deliveryhero.io/image/pedidosya/products/7cbefacc-dce6-4afd-8e82-0a76b7802af2.jpg?quality=90&width=1536&webp=1"
        class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{producto.denominacion}}</h5>
        <p class="card-text">{{producto.descripcion}}</p>
        <p class="card-text">Precio: <span>{{producto.precio.precioVenta| currency}}</span></p>
        <p class="card-text">Tiempo estimado: <span>{{producto.tiempoEstimadoCocina}}</span></p>
        <a href="#" class="btn btn-primary">Sumar al carrito</a>
    </div>
</div>