<div class="d-flex justify-content-center">
    <div class="card p-2 w-50 ">
        <div class="card-body">
            
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Login</h5>
                </div>
            </div>
            <hr>
                <form [formGroup]="loginForm" (ngSubmit)="logearse()" >
                    <!-- Campo user -->
                    <div class="row form-group">
                        <div class="col-2">
                            <label class="col-form-label" >Email</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" formControlName="email">
                            <p class="text-danger">Email invalido</p>
                        </div>
                    </div>
                    <!-- Campo password -->
                    <div class="row form-group mt-4">
                        <div class="col-2">
                            <label class="col-form-label" >password</label>
                        </div>
                        <div class="col">
                            <input class="form-control" type="password" formControlName="password">
                            <p class="text-danger">Contraseña invalida</p>
                        </div>
                    </div>
                    <!-- Submit button -->
                    <div class="row mt-4">
                        <div class="col d-flex justify-content-end mt-4">
                            <p class="text-danger">Email o contraseña incorrectos</p>
                        </div>
                        <div class="col d-flex justify-content-end mt-4">
                            <button class="btn btn-primary" type="submit">Ingresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>